# Kaggle Titanic Competition Deep Neural Network

In [31]:
import pandas as pd

## Load Data

In [32]:
# Load the datatsets into the program 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# Visualise train data
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Data Preprocessing

In [33]:
# Remove Unnecessary Columns 
train.drop(["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)
test.drop(["PassengerId", "Name", "Cabin", "Ticket"], axis=1, inplace=True)

# Fill Missing Embarked Values
train.fillna({"Embarked": "U"}, inplace=True)
test.fillna({"Embarked": "U"}, inplace=True)

# Fill Missing Age Values with Mean Age
train.fillna({"Age": train.Age.mean()}, inplace=True)
test.fillna({"Age": test.Age.mean()}, inplace=True)

# Handle Categorical Data
train = pd.get_dummies(train, columns=["Pclass", "Sex", "Embarked"], dtype=int)
test = pd.get_dummies(test, columns=["Pclass", "Sex", "Embarked"], dtype=int)

# Normalise Age Range
train["Age"] = train["Age"] / train.Age.max()
test["Age"] = test["Age"] / test.Age.max()

# Normalise Fare Range
train["Fare"] = train["Fare"] / train.Fare.max()
test["Fare"] = test["Fare"] / test.Fare.max()

# Normalise SibSb Range
train["SibSp"] = train["SibSp"] / train.SibSp.max()
test["SibSp"] = test["SibSp"] / test.SibSp.max()

# Normalise Parch Range
train["Parch"] = train["Parch"] / train.Parch.max()
test["Parch"] = test["Parch"] / test.Parch.max()

train.head(10)

,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
0,0,0.275000,0.125,0.000000,0.014151,0,0,1,0,1,0,0,1,0
1,1,0.475000,0.125,0.000000,0.139136,1,0,0,1,0,1,0,0,0
2,1,0.325000,0.000,0.000000,0.015469,0,0,1,1,0,0,0,1,0
3,1,0.437500,0.125,0.000000,0.103644,1,0,0,1,0,0,0,1,0
4,0,0.437500,0.000,0.000000,0.015713,0,0,1,0,1,0,0,1,0
5,0,0.371239,0.000,0.000000,0.016510,0,0,1,0,1,0,1,0,0
6,0,0.675000,0.000,0.000000,0.101229,1,0,0,0,1,0,0,1,0
7,0,0.025000,0.375,0.166667,0.041136,0,0,1,0,1,0,0,1,0
8,1,0.337500,0.000,0.333333,0.021731,0,0,1,1,0,0,0,1,0
9,1,0.175000,0.125,0.000000,0.058694,0,1,0,1,0,1,0,0,0